aiosmtpd==1.4.6
amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
atpublic==5.0
attrs==24.2.0
billiard==4.2.1
Brotli==1.1.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cssselect2==0.7.0
Deprecated==1.2.14
dj-database-url==2.3.0
Django==4.2
django-localflavor==3.1
django-parler==2.3
django-rosetta==0.9.8
flower==2.0.1
fonttools==4.54.1
gunicorn==23.0.0
html5lib==1.1
humanize==4.11.0
idna==3.10
kombu==5.4.2
packaging==24.1
pillow==10.4.0
polib==1.2.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
pycparser==2.22
pydyf==0.11.0
pyphen==0.15.0
pytailwindcss==0.2.0
python-dateutil==2.9.0.post0
python-stdnum==1.20
pytz==2024.2
redis==4.3.4
requests==2.32.3
setuptools==59.6.0
six==1.16.0
sqlparse==0.4.2
stripe==4.0.2
tinycss2==1.4.0
tinyhtml5==2.0.0
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
weasyprint==63.0
webencodings==0.5.1
wrapt==1.16.0
zopfli==0.2.3.post1
