{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}

{% block content %}
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div>
  
  <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div>
    <!--
      Mobile menu

      Off-canvas menu for mobile, show/hide based on off-canvas menu state.
    -->
    <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
      <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-black/25" aria-hidden="true"></div>

      <div class="fixed inset-0 z-40 flex">
        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.

          Entering: "transition ease-in-out duration-300 transform"
            From: "-translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "-translate-x-full"
        -->
        <div class="relative flex w-full max-w-xs flex-col overflow-y-auto bg-white pb-12 shadow-xl">
          <div class="flex px-4 pb-2 pt-5">
            <button type="button" class="relative -m-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Close menu</span>
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <!-- Links -->


          <div class="border-t border-gray-200 px-4 py-6">
            <a href="#" class="-m-2 flex items-center p-2">
              <img src="https://tailwindui.com/plus/img/flags/flag-canada.svg" alt="" class="block h-auto w-5 shrink-0">
              <span class="ml-3 block text-base font-medium text-gray-900">CAD</span>
              <span class="sr-only">, change currency</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <!--
      Mobile filter dialog

      Off-canvas menu for mobile, show/hide based on off-canvas menu state.
    -->
    <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
      <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-black/25" aria-hidden="true"></div>

      <div class="fixed inset-0 z-40 flex">
        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.

          Entering: "transition ease-in-out duration-300 transform"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="relative ml-auto flex size-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-6 shadow-xl">
          <div class="flex items-center justify-between px-4">
            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
            <button type="button" class="relative -mr-2 flex size-10 items-center justify-center p-2 text-gray-400 hover:text-gray-500">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Close menu</span>
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <!-- Filters -->
          <form class="mt-4">
            <div class="border-t border-gray-200 pb-4 pt-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button type="button" class="flex w-full items-center justify-between p-2 text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
                    <span class="text-sm font-medium text-gray-900">Color</span>
                    <span class="ml-6 flex h-7 items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.

                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg class="size-5 rotate-0 transform" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="px-4 pb-2 pt-4" id="filter-section-0">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input id="color-0-mobile" name="color[]" value="white" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="color-0-mobile" class="ml-3 text-sm text-gray-500">White</label>
                    </div>
                    <div class="flex items-center">
                      <input id="color-1-mobile" name="color[]" value="beige" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="color-1-mobile" class="ml-3 text-sm text-gray-500">Beige</label>
                    </div>
                    <div class="flex items-center">
                      <input id="color-2-mobile" name="color[]" value="blue" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="color-2-mobile" class="ml-3 text-sm text-gray-500">Blue</label>
                    </div>
                    <div class="flex items-center">
                      <input id="color-3-mobile" name="color[]" value="brown" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="color-3-mobile" class="ml-3 text-sm text-gray-500">Brown</label>
                    </div>
                    <div class="flex items-center">
                      <input id="color-4-mobile" name="color[]" value="green" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="color-4-mobile" class="ml-3 text-sm text-gray-500">Green</label>
                    </div>
                    <div class="flex items-center">
                      <input id="color-5-mobile" name="color[]" value="purple" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="color-5-mobile" class="ml-3 text-sm text-gray-500">Purple</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="border-t border-gray-200 pb-4 pt-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button type="button" class="flex w-full items-center justify-between p-2 text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="text-sm font-medium text-gray-900">Category</span>
                    <span class="ml-6 flex h-7 items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.

                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg class="size-5 rotate-0 transform" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="px-4 pb-2 pt-4" id="filter-section-1">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input id="category-0-mobile" name="category[]" value="new-arrivals" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="category-0-mobile" class="ml-3 text-sm text-gray-500">All New Arrivals</label>
                    </div>
                    <div class="flex items-center">
                      <input id="category-1-mobile" name="category[]" value="tees" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="category-1-mobile" class="ml-3 text-sm text-gray-500">Tees</label>
                    </div>
                    <div class="flex items-center">
                      <input id="category-2-mobile" name="category[]" value="crewnecks" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="category-2-mobile" class="ml-3 text-sm text-gray-500">Crewnecks</label>
                    </div>
                    <div class="flex items-center">
                      <input id="category-3-mobile" name="category[]" value="sweatshirts" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="category-3-mobile" class="ml-3 text-sm text-gray-500">Sweatshirts</label>
                    </div>
                    <div class="flex items-center">
                      <input id="category-4-mobile" name="category[]" value="pants-shorts" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="category-4-mobile" class="ml-3 text-sm text-gray-500">Pants &amp; Shorts</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="border-t border-gray-200 pb-4 pt-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button type="button" class="flex w-full items-center justify-between p-2 text-gray-400 hover:text-gray-500" aria-controls="filter-section-2" aria-expanded="false">
                    <span class="text-sm font-medium text-gray-900">Sizes</span>
                    <span class="ml-6 flex h-7 items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.

                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg class="size-5 rotate-0 transform" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="px-4 pb-2 pt-4" id="filter-section-2">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input id="sizes-0-mobile" name="sizes[]" value="xs" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-0-mobile" class="ml-3 text-sm text-gray-500">XS</label>
                    </div>
                    <div class="flex items-center">
                      <input id="sizes-1-mobile" name="sizes[]" value="s" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-1-mobile" class="ml-3 text-sm text-gray-500">S</label>
                    </div>
                    <div class="flex items-center">
                      <input id="sizes-2-mobile" name="sizes[]" value="m" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-2-mobile" class="ml-3 text-sm text-gray-500">M</label>
                    </div>
                    <div class="flex items-center">
                      <input id="sizes-3-mobile" name="sizes[]" value="l" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-3-mobile" class="ml-3 text-sm text-gray-500">L</label>
                    </div>
                    <div class="flex items-center">
                      <input id="sizes-4-mobile" name="sizes[]" value="xl" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-4-mobile" class="ml-3 text-sm text-gray-500">XL</label>
                    </div>
                    <div class="flex items-center">
                      <input id="sizes-5-mobile" name="sizes[]" value="2xl" type="checkbox" class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-5-mobile" class="ml-3 text-sm text-gray-500">2XL</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>

    <main class="mx-auto max-w-2xl px-4 lg:max-w-7xl lg:px-8">

      <div class="pb-24 pt-12 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
        <aside>
          <h2 class="sr-only">{% trans "Categories" %}</h2>

          <!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
          <button type="button" class="inline-flex items-center lg:hidden">
            <span class="text-sm font-medium text-gray-700">Filters</span>
            <svg class="ml-1 size-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
            </svg>
          </button>

          <div class="hidden lg:block">
            <form class="space-y-10 divide-y divide-gray-200">
              <div id="sidebar">
                <h3>{% trans "Categories" %}</h3>
                <ul>
                  <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shop:product_list" %}">{% trans "All" %}</a>
                  </li>
                  {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                      <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </form>
          </div>
        </aside>



        <section aria-labelledby="product-heading" class="mt-6 lg:col-span-2 lg:mt-0 xl:col-span-3">
          <h2 id="product-heading" class="sr-only">{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}</h2>

          <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-3">
            {% for product in products %}
            <div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green." class="aspect-[3/4] bg-gray-200 object-cover group-hover:opacity-75 sm:h-96">
              <div class="flex flex-1 flex-col space-y-2 p-4">
                <h3 class="text-sm font-medium text-gray-900">
                  <a href="{{ product.get_absolute_url }}">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {{ product.name }}
                  </a>
                </h3>
                <p class="text-sm text-gray-500">Get the full lineup of our Basic Tees. Have a fresh shirt all week, and an extra for laundry day.</p>
                <div class="flex flex-1 flex-col justify-end">
                  <p class="text-sm italic text-gray-500">8 colors</p>
                  <p class="text-base font-medium text-gray-900">${{ product.price }}</p>
                </div>
              </div>
            </div>      
            {% endfor %}
          </div>
        </section>
      </div>
    </main>

  </div>
</div>
</div>

  
{% endblock %}
